In [1]:
import pandas as pd
from unidecode import unidecode

# Subsidios al transporte público de pasajeros

## Colectivos Corta distancia

In [2]:
colectivos_corta  = pd.read_csv("https://servicios.transporte.gob.ar/gobierno_abierto/descargar.php?t=aportes&d=colectivoscd", sep=";", encoding="UTF-8")
colectivos_corta

,mes,provincia,municipio,cuit,tipo,monto
0,05/2019,30-64701983-4,BUENOS AIRES,ALMIRANTE BROWN,748000.00,Comp. Gasoil
1,05/2019,30-64701983-4,BUENOS AIRES,ALMIRANTE BROWN,3830707.20,Comp. Tarifaria
2,05/2019,30-65080001-6,BUENOS AIRES,ALMIRANTE BROWN,2770000.00,Comp. Gasoil
3,05/2019,30-65080001-6,BUENOS AIRES,ALMIRANTE BROWN,12314955.62,Comp. Tarifaria
4,05/2019,30-68586179-4,BUENOS AIRES,ALMIRANTE BROWN,10246280.12,Comp. Tarifaria
...,...,...,...,...,...,...
59327,01/2017,30-71248519-8,TUCUMAN,SAN MIGUEL DE TUCUMAN,3177529.22,Comp. Tarifaria
59328,01/2017,33-54565229-9,TUCUMAN,SAN MIGUEL DE TUCUMAN,2894401.81,Comp. Tarifaria
59329,01/2017,33-54565229-9,TUCUMAN,SAN MIGUEL DE TUCUMAN,434695.65,Comp. Gasoil
59330,01/2017,33-70799632-9,TUCUMAN,SAN MIGUEL DE TUCUMAN,431681.69,Comp. Gasoil
59331,01/2017,33-70799632-9,TUCUMAN,SAN MIGUEL DE TUCUMAN,2714843.56,Comp. Tarifaria

## Colectivos Larga distancia

In [3]:
colectivos_larga  = pd.read_csv("https://servicios.transporte.gob.ar/gobierno_abierto/descargar.php?t=aportes&d=colectivosld", sep=";", encoding="UTF-8")
colectivos_larga

          mes           cuit       tipo                           monto
0     03/2019  23-13418186-9    2443.92  Comp. Usuario con discapacidad
1     03/2019  30-53313348-3  121505.76  Comp. Usuario con discapacidad
2     03/2019  30-54408966-4  135894.50  Comp. Usuario con discapacidad
3     03/2019  30-54578922-8   97181.43  Comp. Usuario con discapacidad
4     03/2019  30-54622131-4  833830.03  Comp. Usuario con discapacidad
...       ...            ...        ...                             ...
1709  01/2017  33-60077099-9   47442.38  Comp. Usuario con discapacidad
1710  01/2017  33-60274919-9  107467.87  Comp. Usuario con discapacidad
1711  01/2017  33-64571375-9   25490.94  Comp. Usuario con discapacidad
1712  01/2017  33-65973590-9   63707.07  Comp. Usuario con discapacidad
1713  01/2017  33-68206446-9    4627.34  Comp. Usuario con discapacidad

[1714 rows x 4 columns]

## Trenes Estado Nacional

In [4]:
trenes  = pd.read_csv("https://servicios.transporte.gob.ar/gobierno_abierto/descargar.php?t=aportes&d=trenesestado", sep=";", encoding="UTF-8",skiprows=1, header=None)
trenes.columns = ["MES", "EMPRESA", "CATEGORIA", "DESCRIPCION", "MONTO", "MES_CODIGO"]
trenes

,MES,EMPRESA,CATEGORIA,DESCRIPCION,MONTO,MES_CODIGO
0,10/2019,Belgrano Sur,Inversión,Material Rodante,3.045747e+06,201910.0
1,10/2019,Belgrano Sur,Inversión,Señales y Telecomunicaciones,6.221623e+04,201910.0
2,10/2019,Belgrano Sur,Inversión,Vías y Obras,2.354848e+07,201910.0
3,10/2019,Belgrano Sur,Inversión,Mantenimiento Eléctrico,0.000000e+00,201910.0
4,10/2019,Belgrano Sur,Operación,Combustibles y Energía,2.103290e+07,201910.0
...,...,...,...,...,...,...
2270,NaN,Sarmiento,Operación,Logística de Recaudación,1.225975e+06,NaN
2271,NaN,Sarmiento,Operación,Seguridad,1.734740e+07,NaN
2272,NaN,Sarmiento,Operación,Seguros,0.000000e+00,NaN
2273,NaN,Sarmiento,Operación,Tecnología y video-filmación,4.297413e+05,NaN
2274,NaN,Sarmiento,Personal,Personal,3.334400e+08,NaN

## CLEANING

In [5]:
#¿porque el mes se repite?
trenes = trenes.drop(columns="MES_CODIGO")

In [6]:
#VALORES NULOS
trenes["MES"].isnull().value_counts()

False    2210
True       65
Name: MES, dtype: int64

In [7]:
trenes = trenes.dropna().reset_index(drop=True)
trenes

,MES,EMPRESA,CATEGORIA,DESCRIPCION,MONTO
0,10/2019,Belgrano Sur,Inversión,Material Rodante,3.045747e+06
1,10/2019,Belgrano Sur,Inversión,Señales y Telecomunicaciones,6.221623e+04
2,10/2019,Belgrano Sur,Inversión,Vías y Obras,2.354848e+07
3,10/2019,Belgrano Sur,Inversión,Mantenimiento Eléctrico,0.000000e+00
4,10/2019,Belgrano Sur,Operación,Combustibles y Energía,2.103290e+07
...,...,...,...,...,...
2205,01/2017,Sarmiento,Operación,Logística de Recaudación,0.000000e+00
2206,01/2017,Sarmiento,Operación,Seguridad,2.932659e+06
2207,01/2017,Sarmiento,Operación,Seguros,6.009000e+04
2208,01/2017,Sarmiento,Operación,Tecnología y video-filmación,7.046510e+05
2209,01/2017,Sarmiento,Personal,Personal,1.889141e+08

In [8]:
#FORMATOS

#FECHAS
trenes["FECHA"] = pd.to_datetime(trenes["MES"])

#VALORES
trenes[["EMPRESA", "CATEGORIA", "DESCRIPCION"]] = trenes[["EMPRESA", "CATEGORIA", "DESCRIPCION"]].applymap(lambda x: unidecode(x).upper())

#### EXPORTAMOS

In [9]:
trenes = trenes.drop(columns=["MES"])

In [10]:
trenes = trenes.reset_index(drop=True)

In [11]:
trenes.to_csv("./data/01-TRENES-SUBSIDIOS.csv", index_label="INDEX")

In [12]:
trenes

,EMPRESA,CATEGORIA,DESCRIPCION,MONTO,FECHA
0,BELGRANO SUR,INVERSION,MATERIAL RODANTE,3.045747e+06,2019-10-01
1,BELGRANO SUR,INVERSION,SENALES Y TELECOMUNICACIONES,6.221623e+04,2019-10-01
2,BELGRANO SUR,INVERSION,VIAS Y OBRAS,2.354848e+07,2019-10-01
3,BELGRANO SUR,INVERSION,MANTENIMIENTO ELECTRICO,0.000000e+00,2019-10-01
4,BELGRANO SUR,OPERACION,COMBUSTIBLES Y ENERGIA,2.103290e+07,2019-10-01
...,...,...,...,...,...
2205,SARMIENTO,OPERACION,LOGISTICA DE RECAUDACION,0.000000e+00,2017-01-01
2206,SARMIENTO,OPERACION,SEGURIDAD,2.932659e+06,2017-01-01
2207,SARMIENTO,OPERACION,SEGUROS,6.009000e+04,2017-01-01
2208,SARMIENTO,OPERACION,TECNOLOGIA Y VIDEO-FILMACION,7.046510e+05,2017-01-01
2209,SARMIENTO,PERSONAL,PERSONAL,1.889141e+08,2017-01-01